In [2]:
import pandas as pd
import numpy as np

In [17]:
df1 = pd.DataFrame({'empid': [1,2,1,4,2,4], 'name': ['Amit', 'Pooja','Amrita','Akshat','Binit','Basant']})
df1

   empid    name
0      1    Amit
1      2   Pooja
2      1  Amrita
3      4  Akshat
4      2   Binit
5      4  Basant

In [57]:
df1['Salary'] = [7777,2222,1111,4444,5555,6666]
df1

   empid    name  Salary
0      1    Amit    7777
1      2   Pooja    2222
2      1  Amrita    1111
3      4  Akshat    4444
4      2   Binit    5555
5      4  Basant    6666

In [90]:
df1.iloc[df1[df1.Salary == df1.Salary.max()].index]

   empid  name  Salary
0      1  Amit    7777

In [94]:
pd.DataFrame(df1.iloc[df1.Salary.idxmax()]).T

  empid  name Salary
0     1  Amit   7777

In [65]:
df1.loc[0]

empid        1
name      Amit
Salary    7777
Name: 0, dtype: object

In [66]:
# loc works on labels in the index.
# iloc works on the positions in the index (so it only takes integers).
# ix usually tries to behave like loc but falls back to behaving like iloc if the label is not in the index.
s = pd.Series(np.nan, index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [67]:
s.iloc[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [70]:
s.loc[:]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [73]:
s.ix[:3]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [74]:
# if the index is of integer type, ix will only use label-based indexing and not fall back to position-based indexing. 
# If the label is not in the index, an error is raised.
# if the index does not contain only integers, then given an integer, ix will immediately use position-based indexing 
# rather than label-based indexing. If however ix is given another type (e.g. a string), it can use label-based indexing.

In [75]:
s = pd.Series(np.nan, index=['49','48','47','46','45', '1', '2', '3', '4', '5'])
s

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
dtype: float64

In [76]:
s.iloc[:3]

49   NaN
48   NaN
47   NaN
dtype: float64

In [78]:
s.loc[:'3']

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [79]:
s.ix[:'3']

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
2    NaN
3    NaN
dtype: float64

In [82]:
s.ix[:6]

49   NaN
48   NaN
47   NaN
46   NaN
45   NaN
1    NaN
dtype: float64